[submodule "siwp2005-pip-test"]
	path = siwp2005-pip-test
	url = git@github.com:hendrikTpl/siwp2005-pip-test.git
[submodule "siwp2005-RestAPI-Flask"]
	path = siwp2005-RestAPI-Flask
	url = git@github.com:hendrikTpl/siwp2005-RestAPI-Flask.git
